<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <% if @current_user %>
        <li class="nav-item">
          <!-- Add "active" class when you're on that page" -->
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to("New Article", "/feeds/new", class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to("Settings", "/users/#{@current_user.id}/edit", class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to(@current_user.name, "/users/#{@current_user.id}", class: "nav-link") %>
        </li>
        <li class="nav-item">
        <%= button_to("log out", "/logout", method: "post") %>
        </li>
      <% else %>
        <li class="nav-item">
          <!-- Add "active" class when you're on that page" -->
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>